.dashboard{
    width: 17vw;
    background-color: white;
    color: rgba(33, 63, 125, 1);
    font-size: 13px;
    padding-bottom: 10px ;
    font-weight: 400;
    .parent_one{
        margin-top: 5vh;
        white-space: nowrap;
        padding-left: 2.15vw;
        img{
            transform: scale(0.95) translateY(4px);
            margin-right: 0.65vw;
        }
        .icon{
            position: relative;
            top: 7px;
            margin-left: 0.22vw;
        }
    }
    .parent_two{
        color: rgba(179, 181, 186, 1) ;
        margin-top: 3vh;
        padding-left: 2.15vw;
        span{
            margin-left: 0.7vw;
        }
    }
    h5{
        padding-left: 2.15vw;
        color:rgba(33, 63, 125,.6);
        margin-top: 3vh;
    }
    ul{
        .important{
            border-left: 4px solid rgba(57, 205, 204, 1);
            background-color: rgba(57, 205, 204,0.2);
        }
        li{
            margin-top:10px;
            padding: 6px 2.16vw;
            list-style: none;
            cursor: pointer;
            border-left: 4px solid white;
            transition: background-color 1s ease-in-out,color 1s ease-in-out,border-left 1s ease-in-out;
            span{
                margin-left: 0.67vw;
                color:rgba(179, 181, 186, 1) ;
            }
            img{
                transform: scale(0.95) translateY(4px);
            }
        }
        li:hover{
            border-left: 4px solid rgba(57, 205, 204, 1);
            background-color: rgba(57, 205, 204,0.2);
        }

    }
    footer{
        hr{
            margin-top: 5vh;
            border:1px solid rgb(208, 204, 204,0.45);
        }
        h5{
            img{
                transform: scale(0.95) translateY(4px);
                object-fit:contain;
            }
            span{
                margin-left: 0.67vw;
                font-size: 13px;
            }
        }
        .span{
            margin-left: 2.16vw;
            position: relative;
            top: 3vh;
        }
    }
}

@media screen and (max-width:'1073px') {
    .dashboard{
        width: 19vw;
    }
    
}
@media screen and (max-width:'935px') {
    .dashboard{
        width: 21vw;
    }
    
}
@media screen and (max-width:'800px') {
    .dashboard{
        .parent_one{
            white-space: break-spaces;
        }
        width: 26vw;
    }
    
}
@media screen and (max-width:'500px') {
    .dashboard{
        width: 120px;
        .parent_one{
            white-space:break-spaces ;
        }
    }
    
}